<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{error}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <base href="https://meetfinch.com" />

  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css?s=4c3a3db">
  <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,italic,300,400,700,900|Inconsolata:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div>

  <div class="header clearfix">
    <div class="container">
      <ul class="navbar__nav navbar__nav--left">
        <li>
          <a class="logo" href="/"><img src="/img/logo-white.svg" alt="Finch" /></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container push-double--top push-double--bottom">
    <h1>{{error}}</h1>

    <p>Oops! Something went wrong when trying to serve this static content from
    the computer running this connection. This usually means the connection owner
    just needs to double check the directory that they&rsquo;re forwarding is correct.</p>

    <p>If you continue to see this error, please do <a href="/contact">get in touch</a>
    or check out the <a href="/faq">FAQ</a>.</p>
  </div>

  <div class="footer soft--bottom">
    <div class="text--center push--bottom"><img src="/img/logo-grey.svg" alt=""></div>
  </div>
  </div>
</body>
</html>
